#header_container {
    width: 100%;
    max-width: 420px;
    margin: .2em auto 0 auto;
    font-family: m_1cbold;
    font-size: 3em;
    letter-spacing: -.06em;
    text-align: center;
    padding-right: .15em;
    display: block;
}

#header_container a {
    color: #000000;
    font-style: normal;
    text-decoration: none;
    margin-bottom: 0;
    padding-bottom: 0;
    line-height: .85em;
}

#header_container h1 {
    font-family: m_1cmedium;
    font-size: .25em;
    letter-spacing: .25em;
    margin-top: .5em;
}

#header_container hr {
    border-width: 2px 0 0 0;
    border-style: solid;
    border-color: #000000;
    margin: 0 auto;
    width: 90%;
}


.tab { margin-left: 40px; }


body {
    margin: 8px;
    padding: 0;
    font-size: 100%;
    font-family: arial, sans-serif;
}

.subsection{
    border-style: solid;
    padding: 2em;
}

#main_container {
    width: 100%;
    max-width: 768px;
    margin: 2.75em auto 0 auto;
}

.clearfix:after {
    content: '';
    display: table;
    clear: both;
}







